.drop-effect {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: hsla(100, 100%, 50%, 0.1);
	pointer-events: none;
	z-index: -1;
}

.drop-effect.dragover {
	display: block;
}